  /* app css stylesheet */
body {
  font-size: 2em; 
  background-image: url('../img/bg5.jpg');
}

.wdBg {
  background-image: url('../img/bg_wood.jpg');
}

.wdBg2 {
  background-image: url('../img/bg_wood2.jpg');
}

.bg3 {
  background-image: url('../img/bg3.jpg');
  background-position: fixed;
}

.bg4 {
  background-image: url('../img/bg4.jpg');
}

.bg5 {
  background-image: url('../img/bg5.jpg');
  position: relative;
}
.bg6 {
  background-image: url('../img/bg6.jpg');
  background-repeat: no-repeat;
}
.bg6 img {
  width:100%;
  height: 100%;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.by7 {
  position:relative;
  width:13.13%;
  margin-left:1%;
  margin-bottom:1%;
  height:30px;
  font-size: 1em;
  line-height: .5em;
   opacity: .9;
   z-index: -1;
}

.by7h {
  width:12.85%;
  margin-left:1%;
  height:30px;
  font-size: 1.2em;
  line-height: .5em;
  font-weight: bold;
}

.center {
  position: relative;
  width:320px;
  min-width:20px;
  margin:0px auto;
}

.slim {
  margin: 0px;
  padding: 0px;
}

.pad{
  padding: 5px;
}

.fatpad{
  padding: 0px 0px 0px  1.9%;
}
.left {
  position: relative;
  left:-1.5%;
}

.up {
  position: relative;
  top:-37px;
  margin-bottom:-5%;
}



.large {
  height:38px;
  font-size: 1.25em;
  line-height: .75em;
}

.floatLeft{
  float: left;
}

.floatRight{
  float: right;
}
.frame {
  min-width: 1250px;
}

.dayStyle{
  position: relative;
  height: 125px;
  background-color: #23282E;
  z-index: 0;
}

.pullUp {
  margin-bottom: -.25%;
}

.spacer {
  width:100%;
  height:50px;
}

.fixed {
  position:fixed;
  z-index: 1;
  width:100%;

}

p {
  font-size: 14px;
  color: white;
}

.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*TILT*/
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.nav, .pagination, .carousel a { cursor: pointer; } 

.vague{
  opacity: .2;
}

.apparent{
  width:35px;
  height:22px;
  opacity: .4;
  background: white;
}

.apparent2{
  width:35px;
  height:22px;
  opacity: .4;
  background: white;
}
.vague:hover{
  opacity: .8;
}

.scrollContent {
  position: relative;
  height: 115px;
  overflow-y: auto;
}

.scrollDayView {
  height: 630px;
  overflow-y: auto;
  z-index: 2;
}
.onTop {
}

.shrink {
  width:100%;
  height:0px;
  margin-bottom: -50px;
}

.popover {
}

.white {
  background-color:white;
}