<div class="spacer"></div>
<div class="spacer"></div>
<div class="shrink"></div>
<div class='row' ng-model="dt" style="background:#355162; min-height: 700px; height:100%;">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 well slim">
        <div class='row slim'>
            <div class="row">
                <div class="btn-group col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                    <button type="button" class="btn btn-default">Left</button>
                    <button type="button" class="btn btn-default" ng-click="today()">Today</button>
                    <button type="button" class="btn btn-default">Right</button>
                </div>             
            </div>
            <div style="background: #39B3D7; height:300px; color:black;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <span class="pull-left">{{calendarMonth}}</span>
                </div>
                <div class="row">
                    <span style="font-size:10em; line-height: 1.25em;" class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 text-center">{{calendarDay}}</span>
                </div>
                <div class="row">
                    <span class="pull-right">{{calendarYear}}</span>
                </div>
            </div>
        </div>
        <div class="" style="height:290px;width:300px; margin:0px auto;">
            <datepicker min="minDate" show-weeks="showWeeks"></datepicker>
        </div>
    </div>





    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="height:630px; overflow-y: auto; color:black;">
         <accordion close-others="true">
            <accordion-group is-open="isopen" ng-repeat="hour in hoursofday track by $index" heading="{{hour[1]}}" >
                <div ng-if ="event['hour'] == hour[0] " ng-repeat="event in events">
                <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{event[0]['start'] | date:'shortTime'}}<br><strong>{{event[0]['title']}}</strong><br> {{event[0]['details']}}
                </div>
                </div>
                <div class="row">
                    <button type="button" class="btn-success glyphicon glyphicon-plus">Add</button>
                </div>
            </accordion-group>
        </accordion>
    </div>



    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 well slim" style="height:630px;">
        <accordion close-others="true">
            <accordion-group heading="Daily Agenda" class="accordionFrame" >
                <div style="margin:5px;" class="label-md label-info pad" ng-if="events.length > 0" style="color:black;" ng-repeat="event in events track by $index |orderBy:event[0]['time']">
                    {{event['start'] | date:'shortTime'}}
                    {{event['title']}}
                </div>
            </accordion-group>

            <accordion-group  heading="Daily Tasks" class="accordionFrame" >
                <div style="color:black;">Task List</div>
            </accordion-group>

            <accordion-group  heading="Activity Feed" >
                <div style="color:black;">Activity Feed</div>
            </accordion-group>
            <div class="">
            <form role="form" ng-submit="addEvent(ev)">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="title" class="form-control" id="title" ng-model="ev.title" placeholder="Enter Title">
              </div>

              <div class="form-group">
                <label for="detail">Details</label>
                <textarea class="form-control" ng-model="ev.details" rows="3" cols="30"></textarea>
              </div>
                <div class="form-group">
                    <div ng-model="ev.start"  ng-change="changed()" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pad">
                    <timepicker hour-step="1" minute-step="5" show-meridian="ismeridian"></timepicker>
                    </div>
                </div>
                 <div class="form-group">
                    <div ng-model="ev.end" ng-change="changed()" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pad">
                    <timepicker label='Start' hour-step="1" minute-step="1" show-meridian="ismeridian"></timepicker>
                    </div>
                </div>
              <button type="submit" class="btn btn-default" value="Submit">Submit</button>
            </form>
            </div>

    </div>
</div>
