<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>My AngularJS App</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/app.css"/>


</head>
<body  class="frame  col-xs-12 col-sm-12 col-md-12 col-lg-12 bg6" ng-controller="calendarHeaderCtrl">
	<nav class="navbar navbar-default navbar-fixed-top bg4" role="navigation">
		<!-- <div class="page-header slim">  	
		<h1>Angular Calendar</h1>
		<center>Calendar</center>
		</div> -->
		<div class="row pad frame" >
			<div <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<button type="button" class="btn btn-default glyphicon glyphicon-list"></button>
				<button type="button" class="btn btn-default glyphicon glyphicon-plus"></button>
				<button type="button" class="btn btn-default glyphicon glyphicon-download"></button>
			</div>
		
			<div class="center">
				<div class="btn-group">
					<button ng-click="go('/year')" type="button" class="btn btn-default ">Year</button>
					<button ng-click="go('/month')" type="button" class="btn btn-default ">Month</button>
					<button ng-click="go('/week')" type="button" class="btn btn-default ">Week</button>
					<button ng-click="changeMonth(-1)" type="button" class="btn btn-default ">Previous</button>
					<button ng-click="changeMonth(1)" type="button" class="btn btn-default ">Next</button>
					<!-- <button ng-click="go('/day')" type="button" class="btn btn-default ">Day</button> -->
					<!-- <button ng-click="go('/agenda')" type="button" class="btn btn-default ">Agenda</button> -->
				</div>
			</div> <!-- end of  center div-->
			<span  style="width:320px;" class=" btn btn-danger left up floatRight large">{{calendarMonthName}} {{calendarYear}}</span>
		</div> <!-- end of  navbar-->
	</nav>
<ng-view>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onTop">
	<div class="btn btn-success">This is a pop up you!</div>
	
	
</div>


</ng-view>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
-->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>
<!-- <script src="js/angular-strap.min.js"></script> -->
<!-- <script src="js/ui-bootstrap-0.6.0.min.js"></script> -->
<script src="js/ui-bootstrap-0.6.0.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
</body>

</html>
<script>
